// Light Theme
$color-light-background: #eaf0d1;
$color-light-text: #121212;
$color-light-link: #2e603f;

// Dark Theme
$color-dark-background: #1b1f0a;
$color-dark-text: #eaf0d1;
$color-dark-link: #2e603f;
