// Light Theme
$color-light-background: #fbdaff;
$color-light-text: #121212;
$color-light-link: #1a0dab;

// Dark Theme
$color-dark-background: #121212;
$color-dark-text: #ffffff;
$color-dark-link: #8ab4f8;
