@use 'abstracts' as *;
@use 'base/reset';

// TODO: add some global fonts, button styles

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Commissioner', sans-serif;
  line-height: 1.25;
}

a {
  color: var(--link-color);
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;

  @include respond(lg) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @include respond(xl) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.page-block {
  margin-bottom: 1rem;

  @include respond(md) {
    margin-bottom: 2rem;
  }
}
